/*--------------------------------------------------------------============================================================
  
1. Typography




[Main Stylesheet]

Project:   Online School
Version:    0.1
Last change:    02.09.2019
Primary use:    Online School- Simple & Clean Templatee


[Typography]

Body: 20px 'Heebo', sans-serif;



/*==============================
[Table of contents]


=============================================================--------------------------------------------------------------*/

body {
  font-size: 10px;
  line-height: 14px;
  color: #000;
  background-color: #A6A6A6;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-family: 'OpenSansHebrewRegular';
}

a, a:active, a:focus, a:active {
  color: #222222;
  text-decoration:none !important
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]),
textarea {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #999;
  display: inline-block;
  padding: 5px 10px;
}

dl {
  margin-bottom: 1.6em;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: 1.6em;
}
table,
th,
td {
  border: 1px solid #eaeaea;
  border: 1px solid rgba(51, 51, 51, 0.1);
}
table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.6em;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
caption,
th,
td {
  font-weight: normal;
  text-align: left;
}
th {
  border-width: 0 1px 1px 0;
  font-weight: 700;
}
td {
  border-width: 0 1px 1px 0;
}
th, td {
  padding: 0.4em;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

iframe {
  width: 100%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  color: #000;
  font-family: 'OpenSansHebrewRegular';
}

h2,
.h2{
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}
h3,
.h3{
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  font-weight: bold;
  font-family: 'OpenSansHebrewBold';
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p:last-child{
  margin-bottom: 0;
}

/*header section*/
.header-logo {
    padding: 11px 0 32px;
}
.user-wrap {
    text-align: center;
    max-width: 267px;
    margin: 0 auto 20px;
}
.user-thumb {
    width: 112px;
    height: 112px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 auto 6px;
}
.user-thumb img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user-data{
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.social-column {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
}
.social-wrap {
    display: flex;
    align-items: center;
    justify-items: center;
}
.social-item {
    flex: 0 0 20%;
    text-align: center;

}
.social-item img{
  height: 40px;
  margin-bottom: 5px;
}

.social-wrap.two {
    justify-content: space-between;
}

.social-item.item-three {
    flex: 0 0 13%;
    margin: 0 5px;
}

.social-wrap.wrap-four{
  flex-wrap: wrap;
}
.wrap-four .social-item{
  margin-bottom: 5px;
}

/*footer*/
footer.footer-section {
    text-align: center;
    background-color: #000;
    padding: 13px 0;
}
.copywright p{
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  font-weight: 300;
  font-family: 'OpenSansHebrewLight';
}
.copywright p img{
  width: 106px;
  margin-left: 8px;
}
